


    
      <!--<ng-container *ngIf="x.title.toLowerCase().includes(titre.toLowerCase())">-->
    
      <img (click)="clickImage(description)" [src]="image" [alt]="title" class="img-fluid h-50 w-75">
      <h3 appHighlight >{{title | uppercase}}</h3>
      <h3 >{{description}}</h3>
      <button [routerLink]="['/details',id]" class="btn btn-primary" (click)="notif()" *ngIf="available">Voir produits</button>
     <!-- <button [routerLink]="['/details']" [queryParams]="{id:id}"  class="btn btn-primary" *ngIf="available">Voir produits</button>-->
      <!--<a routerLink="getdetails">Details</a>-->
      <span [hidden]="available">Catégorie non disponible</span>
      <br>
      <button (click)="add()" class="btn btn-primary">Add to shortlist</button>
      <!--<button  class="btn btn-primary" [hidden]="!x.available">Voir produits</button>-->
      <!--</ng-container>-->
    
 
    

